stages:
  - lint
  - test

lint:
  stage: lint
  image: python:3.10
  script:
    - pip install ruff mypy
    - ruff check src/
    - mypy src/pacemaker/langfuse/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "master"'

test:
  stage: test
  image: python:3.10
  script:
    - pip install -e ".[dev]"
    - pytest tests/ --cov=src/pacemaker --cov-report=term-missing
  coverage: '/TOTAL.*\s+(\d+%)/'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "master"'
